<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">SMS Account Overview</h3>

           
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Credits balance</th>
                

                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                   
                    <td style="font-size:18px">Your credit balance is: @ViewBag.CreditBalance </td>
              
                  </tr>
                 
           
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->
          </div>