



<script  type="text/javascript">
    $(function () {
      
        var initMenu = function () {
        

            menu = $("#menu").kendoContextMenu({
                orientation: "vertical",
                target: "#transaction-dtl-grd",
                filter: "table > tbody > tr",
                animation: {
                    open: { effects: "fadeIn" },
                    duration: 500
                },
                select: function (e) {
                    // Do something on select
                    alert("Do something")
                }
            });
        };

        initMenu();


        //new Transaction().Load();
        var tranx = new CustomerSupport.BusinessObjects.TransactionDetailLoader()
        tranx.Load();



    })
</script>



<div class="row">


    <div class="col-xs-12 col-md-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Transaction</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row" id="customer-info">

                    <div class="col-md-12">
                        <div class="form-group">
                            <input id="customer-list-ddl" style="width:100%" />
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Date</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @*<input type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask="">*@
                                <input id="customer-date" value="10/10/2011" data-bind="value:date" title="datepicker" style="width: 100%" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" data-bind="value:email"  id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="customerName">Name</label>
                            <input class="form-control" id="customerName" data-bind="value:name"  placeholder="Enter name">
                        </div>

                        <div class="form-group">
                            <label>Phone number:</label>

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input type="text" class="form-control" data-bind="value:phoneNumber"  data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div id="transaction-dtl-grd"></div>
                    </div>


                </div>

                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-xs-6">
                  
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-6" style="margin-top:25px">
                        <p class="lead">Totals:</p>
                        <div id="total-amt-calc" class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th style="width:50%">Subtotal:</th>
                                    <td><span data-bind="text:totalAmountProp"></span></td>
                                </tr>

                                <tr>
                                    <th style="width:50%">Discount(%):</th>
                                    <td>
                                        <input type="number" data-bind="value:discount" class="form-control" id="discount" placeholder="Discount">
                                    </td>
                                </tr>

                                <tr>
                                    <th style="width:50%">Tax(%):</th>
                                    <td>
                                        <input type="number" class="form-control" id="tax" data-bind="value:tax"  placeholder="Tax">
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:50%">Paid:</th>
                                    <td>
                                        <input type="number" data-bind="value:paid" class="form-control" id="totalAmountPaid" placeholder="Paid">
                                    </td>
                                </tr>
  
                                <tr>
                                    <th>Total:</th>
                                    <td><span data-bind="text:grandTotal"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- this row will not appear when printing -->
                <div class="row no-print">
                    <div class="col-xs-12">
                        <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
                        <button type="button" class="btn btn-success pull-right" onclick="CustomerSupport.BusinessObjects.TransactionDetailLoader.Submit()">
                            <i class="fa fa-credit-card"></i> Submit Payment
                        </button>
                
                    </div>
                </div>

            </div>
        </div>
    </div>





</div>


<ul id="menu">
    <li>
        <img src="../content/web/toolbar/reply.png" /> Reply
        <ul>
            <li><img src="../content/web/toolbar/reply.png" /> Reply to Sender</li>
            <li><img src="../content/web/toolbar/reply.png" /> Reply to All</li>
        </ul>
    </li>
    <li class="k-separator"></li>
    <li>
        <img src="../content/web/toolbar/forward.png" />  Forward
    </li>
    <li class="k-separator"></li>
    <li>
        Label
        <ul>
            <li>None</li>
            <li class="k-separator"></li>
            <li><img src="../content/web/toolbar/important.png" />Important</li>
            <li><img src="../content/web/toolbar/todo.png" />Work</li>
            <li><img src="../content/web/toolbar/done.png" />Personal</li>
            <li class="k-separator"></li>
            <li>New Label</li>
        </ul>
    </li>
</ul>
